:root {
  --green: #54e6af;
  --grayblue: #2c344b;
  --black: #121725;
  --white: #fff;
  --darkGray: #5a668a;
  --lightGray: #c2cbe5;
}

/* Blocks */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Chivo", sans-serif;
  color: var(--white);
  background: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* Form */
button,
input,
select,
textarea {
  margin: 0;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Media */
img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

/* Iframe */
iframe {
  border: 0;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}
